body {
    background-color: blanchedalmond;
}

h1,
h2,
footer {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    text-align: center; /* Edit text-alignment for paragraphs when updating */
    font-family: 'Courier New', Courier, monospace;
}